<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
</script>
<template>
    <AppLayout title="Objects">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Objects
            </h2>
        </template>
        <div>
            <h2>Фильтры</h2>
            <select v-model="selectedCategory">
                <option value="">Все</option>
                <option value="Платные">Платные</option>
                <option value="Бесплатные">Бесплатные</option>
            </select>

            <label>
                <input type="checkbox" v-model="selectedPlatforms" value="iOS">
                iOS
            </label>
            <label>
                <input type="checkbox" v-model="selectedPlatforms" value="Android">
                Андроид
            </label>

            <button @click="filterItems">Применить фильтр</button>

            <ul>
                <li v-for="item in filteredItems" :key="item.id">{{ item.title }}</li>
            </ul>
        </div>
    </AppLayout>
</template>
<script>
import axios from "axios";

export default {
    data: function () {
        return {
            selectedCategory: [],
            selectedPlatforms: [],
            filteredItems: []
        };
    },
    mounted() {
        this.getObjects();
    },
    methods: {
        filterItems() {
            axios.get('/filterItems', {
                params: {
                    category: this.selectedCategory,
                    platforms: this.selectedPlatforms
                }
            })
                .then(response => {
                    this.filteredItems = response.data;
                })
                .catch(error => {
                    console.error(error);
                });
            this.urlUpdate();
        },
        getObjects() {
            axios.get('/applications')
                .then(response => {
                    this.filteredItems = response.data;
                })
                .catch(error => {
                    console.log(error)
                })
        },
        urlUpdate() {
            const baseUrl = window.location.origin;
            console.log(window.location.origin);
            let categoryPrice = '';
            if (this.selectedCategory === 'Платные') {
                categoryPrice = 'platnie';
            } else if (this.selectedCategory === 'Бесплатные') {
                categoryPrice = 'besplatnie';
            }
            const newUrl = baseUrl + '/' + categoryPrice + '/' + this.selectedPlatforms.join('-i-');
            window.history.pushState({path: newUrl}, '', newUrl);
        },
    },
}
</script>
